* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    background: rgb(65,203,159);
    background: linear-gradient(90deg, rgba(63,203,159,1) 22%, rgba(27,143,211,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}